---
import content from '../../src/content.json'

import Layout from '../layouts/Layout.astro'

import SiteTagline from '../components/SiteTagline.astro'
import SocialLinks from '../components/SocialLinks.astro'
import LastFM from '../components/LastFM.astro'
import Strava from '../components/Strava.astro'
---
<script>
  const loading = () => {
    const mainElement = document.querySelectorAll('.main > *')
    const DELAY = Math.floor(Math.random() * 250)

    const addClassWithDelay = (element: any, index: any) => {
      setTimeout(() => {
        element.classList.add('loaded')
      }, DELAY * index)
    }

    mainElement?.forEach((element, index) =>
      addClassWithDelay(element, index))
  }

  setTimeout(loading, 1000)
</script>

<Layout data={content.opengraph}>
  <main class="main">
    <SiteTagline data={content.components[0]} />
    <SocialLinks data={content.components[1]} />

    <div class="features">
      <div class="strava">
        <Strava data={content.components[3]} />
      </div>
      <div class="player">
        <LastFM data={content.components[2]} />
      </div>
    </div>
  </main>
</Layout>

<style lang="styl">
  .main
    align-items center
    display flex
    flex-direction column
    justify-content center
    min-height 100vh
    padding 0 20px

    :global(> *)
      opacity 0
      transform scale(.95)
      transition all 1s ease-in-out

    :global(> .loaded)
      opacity 1
      transform scale(1)

    .features
      align-items center
      bottom 20px
      display flex
      justify-content center
      margin 0 20px
      position absolute
      width 100%

      .strava
        border-right 1px solid #222
        display flex
        justify-content center
        padding-right 10px
        width 50%

      .player
        display flex
        justify-content center
        padding-left 10px
        padding-right 10px
        width 50%
</style>
