---
import '@fontsource/jetbrains-mono'

export interface Props {
  data: {
    title: string
    description: string
    author: string
    keywords: string
    "primary-color": string
    image: string
    url: string
  }
}

const { data } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={data.title} />
    <meta property="og:description" content={data.description} />
    <meta property="og:image" content={data.image} />
    <meta property="og:url" content={data.url} />
    <meta property="og:site_name" content={data.author} />

    <meta name="author" content={data.author} />
    <meta name="keywords" content={data.keywords} />
    <meta name="theme-color" content={data["primary-color"]} />


    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{data.title}</title>
  </head>
  <body class="site">
    <span class="grid-line"></span>
    <span class="grid-line"></span>
    <span class="grid-line"></span>
    <span class="grid-line"></span>
    <span class="grid-line"></span>

    <slot />
  </body>
</html>

<style lang="styl" is:global>
  .site
    background-color #060606
    font-family 'JetBrains Mono', monospace
    height 100vh
    margin 0
    overflow hidden
    width 100vw

    .grid-line
      background-color #222
      height 100vh
      position absolute
      width 1px

      for $i in (1..5)
        $left = $i * 25

        &:nth-child({$i})
          left unit($left, vw)

      &:nth-child(4)
        display none

      &:nth-child(5)
        display none

      @media (min-width: 1024px)
        for $i in (1..5)
          $left = $i * 20

          &:nth-child({$i})
            left unit($left, vw)

        &:nth-child(4)
          display block
          left 80vw

        &:nth-child(5)
          display block
          left 100vw
</style>
