---
import '@fontsource/jetbrains-mono'

export interface Props {
  data: {
    title: string
    description: string
    author: string
    keywords: string
    "primary-color": string
    image: string
    url: string
  }
}

const { data } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={data.title} />
    <meta property="og:description" content={data.description} />
    <meta property="og:image" content={data.image} />
    <meta property="og:url" content={data.url} />
    <meta property="og:site_name" content={data.author} />

    <meta name="author" content={data.author} />
    <meta name="keywords" content={data.keywords} />
    <meta name="theme-color" content={data["primary-color"]} />


    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{data.title}</title>
  </head>
  <body class="site">
    <slot />
  </body>
</html>

<style lang="styl" is:global>
  .site
    background-color #060606
    font-family 'JetBrains Mono', monospace
    height 100vh
    margin 0
    overflow hidden
    width 100vw
</style>
